<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
            <md-icon class="material-icons">arrow_back</md-icon>
        </md-button>
        <h3>
            <span>Mr.Subun Runphong</span>
        </h3>
        <div flex></div>

        <md-button class="md-icon-button" aria-label="Setttings">
            <md-icon class="material-icons">attach_file</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Setttings">
            <md-icon class="material-icons">videocam_on</md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-content style="height:460px;" layout-padding="10">
    <div layout="row">
        <div flex="80">
            <md-card style="background: #E91E63; color: white;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Mr.Subun Runphong</span>
                        <span class="md-subhead description">This card is colored according the {{theme}} theme</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
    <div layout="row">
        <div flex></div>
        <div flex="80">
            <md-card style="background: #FF7043; color: white;">
                <md-card-content>
                    <span class="md-subhead description">This card is colored according the primary theme</span>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div layout="row">
        <div flex></div>
        <div flex="80">
            <md-card style="background: #FF7043; color: white;">
                <md-card-content>
                    <span class="md-subhead description">This card is colored according the primary theme</span>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div layout="row">
        <div flex="80">
            <md-card style="background: #E91E63; color: white;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Mr.Subun Runphong</span>
                        <span class="md-subhead description">This card is colored according the {{theme}} theme</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
    <div layout="row">
        <div flex="80">
            <md-card style="background: #E91E63; color: white; padding: 5px;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Mr.Subun Runphong</span>
                        <span class="md-subhead description">This card is colored according the {{theme}} theme</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
</md-content>
<div layout-padding flex>
    <md-content>
        <md-input-container md-no-float class="md-primary md-block" style="padding-top: 5px;margin-top: 0;">
            <input ng-model="searchInput" placeholder="type anything" style="margin-left:5px">
            <md-icon class="material-icons md-primary">send</md-icon>
        </md-input-container>
    </md-content>
</div>